--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.4.0
torchvision==0.19.0
xformers===0.0.27.post2

pytorch-lightning==2.4.0
einops
plotly
omegaconf
rembg
trimesh
opencv-python
gradio==4.44.1
huggingface_hub[cli]==0.26.2
transformers==4.46.1
tokenizers==0.20.1
diffusers==0.31.0
accelerate==1.0.1
grpcio-status==1.33.2 
protobuf==3.20.2
safetensors
imageio[ffmpeg]
kornia 
timm
plyfile
open3d==0.18.0
ninja
xatlas
pygltflib
fpsample
fast-simplification
MiniballCpp
numpy<2.0

git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
ort_nightly_gpu @ https://aiinfra.pkgs.visualstudio.com/2692857e-05ef-43b4-ba9c-ccf1c22c437c/_packaging/d3daa2b0-aa56-45ac-8145-2c3dc0661c87/pypi/download/ort-nightly-gpu/1.17.dev20240118002/ort_nightly_gpu-1.17.0.dev20240118002-cp310-cp310-manylinux_2_28_x86_64.whl
onnxruntime_gpu @ https://pkgs.dev.azure.com/onnxruntime/2a773b67-e88b-4c7f-9fc0-87d31fea8ef2/_packaging/7fa31e42-5da1-4e84-a664-f2b4129c7d45/pypi/download/onnxruntime-gpu/1.17/onnxruntime_gpu-1.17.0-cp310-cp310-manylinux_2_28_x86_64.whl
https://huggingface.co/spaces/TencentARC/FreeSplatter/resolve/main/wheels/diff_gaussian_rasterization-0.0.0-cp310-cp310-linux_x86_64.whl?download=true
https://huggingface.co/spaces/TencentARC/FreeSplatter/resolve/main/wheels/diff_surfel_rasterization-0.0.1-cp310-cp310-linux_x86_64.whl?download=true
https://huggingface.co/spaces/JeffreyXiang/TRELLIS/resolve/main/wheels/nvdiffrast-0.3.3-cp310-cp310-linux_x86_64.whl?download=true